.axis path, .axis line {
    fill: none;
    stroke: #fff;
  }
.axis text {
  	font-size: 13px;
  }
.bar {
    fill: #8CD3DD;
  }
.bar:hover {
    fill: #F56C4E;
    stroke: black;
  }
svg text.label {
  fill:white;
  font: 15px;  
  font-weight: 400;
  text-anchor: middle;
}
.toolTip {
	position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}
#barChartID {
	min-width: 531px;
}


/*Text class styling*/

.text {
  fill: white;
  font-family: sans-serif
}
